.form {
  padding: 20px 10px 15px;
  color: #fff;
  background: #000;
  @include rm(480) {
    max-width: 100%;
    width: 420px;
    padding: 30px;
  }
  @include rm(480) {
    padding: 60px 30px 75px;
  }
  &__logo {
    width: 113px;
    margin: 0 auto 6px;
    @include rm(480) {
      width: auto;
      margin-bottom: 15px;
    }
    @include rm(1220) {
      margin-bottom: 27px;
    }
  }
  &__message {
    &_bold {
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
      letter-spacing: -0.4px;
      @include rm(480) {
        font-size: 20px;
        line-height: 1.2;
      }
    }
    &_small {
      margin-bottom: 13px;
      font-weight: 400;
      line-height: 25px;
      @include rm(480) {
        font-size: 14px;
        line-height: 24px;
      }
      @include rm(1024) {
        margin-bottom: 25px;
      }
    }
  }
  &__form {
    margin-bottom: 8px;
  }
  &__phonewrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__label {
    position: relative;
    display: flex;
    margin-bottom: 10px;
    &::before {
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      top: calc(50% - 10px);
      left: 16px;
    }
    &_name {
      &::before {
        background: url(../img/icon_user.png) no-repeat center center / contain;
      }
    }
    &_email {
      &::before {
        background: url(../img/icon_email.png) no-repeat center center / contain;
      }
    }
    &_select {
      &::before {
        background: url(../img/icon_country.png) no-repeat center center / contain;
      }
    }
    &_phone {
      width: 60%;
      margin-bottom: 0;
      @include rm(480) {
        width: 66%;
      }
      &::before {
        content: none;
      }
    }
    &_prefix {
      width: 40%;
      margin-bottom: 0;
      @include rm(480) {
        width: 34%;
      }
      &::before {
        background: url(../img/icon_phone.png) no-repeat center center / contain;
      }
    }
  }
  &__input {
    width: 100%;
    padding: 13px 10px 13px 50px;
    line-height: 24px;
    background: #fff;
    &_select {
      appearance: none;
      background: #fff url(../img/icon_arrow.png) no-repeat right 16px center;
    }
    &_prefix {
      border-right: 1px solid #000;
    }
    &_phone {
      padding-left: 15px;
    }
  }
  &__button {
    padding: 20px 0;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.8px;
    color: #000;
    box-shadow: 0 5px 0 0 rgba(153, 204, 51, 0.5);

    @include rm(480) {
      padding: 17px 0;
      margin-top: 20px;
      font-size: 24px;
      line-height: 1;
      letter-spacing: -2px;
    }
    @include rm(1220) {
      margin: 30px 0 32px;
    }
  }
  &__info {
    font-size: 16px;
    line-height: 24px;
    @include rm(480) {
      padding: 0 10px;
      letter-spacing: 0.3px;
    }
  }
  &__errormessage {
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    font-size: 12px;
    line-height: 1;
    color: red;
    opacity: 0;
    &_active {
      height: auto;
      opacity: 1 !important;
    }
  }
}