.main {
  padding-top: 23px;
  text-align: center;
  background: url(../img/bg_main_mob.jpg) no-repeat center bottom / cover;
  &__wrappertext {
    margin-bottom: 11px;
    text-transform: uppercase;
    br {
      display: none;
      @include rm(480) {
        display: inline-block;
      }
    }
  }

  &__title {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: -0.5px;


    br {
      display: none;
    }
  }
  &__subtitle {
    width: 100%;
    margin-bottom: 7px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: -0.5px;
    color: #fff;
    background: $green;
  }
  &__info {
    margin-bottom: 6px;
    letter-spacing: -0.4px;
    &_green {
      display: block;
      font-size: 20px;
      line-height: 1;
      color: $green;
    }
  }
  &__somecontent {
    width: 100%;
    height: 186px;
    background: #666;
  }
  .form {
    margin: 0 -10px;
  }
}