.offer {
  padding: 37px 0 47px;
  background: url(../img/bg_offer_mob.jpg) no-repeat center bottom / cover; 
  &__title {
    margin-bottom: 27px;
    letter-spacing: -0.4px;
  }
  &__list {
    list-style: none;
    text-align: center;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 57px;
    }
  }
  &__img {
    margin: 0 auto 29px;
  }
  &__header {
    margin-bottom: 26px;
    text-transform: uppercase;
    color: $green;
    font-weight: 800;
    letter-spacing: -0.5px;
  }
  &__text {
    font-size: 16px;
    line-height: 24px;
    *:not(:last-child) {
      margin-bottom: 23px;
    }
  }
}