.offer {
  padding: 37px 0 47px;
  background: url(../img/bg_offer_mob.jpg) no-repeat center bottom / cover; 
  @include rm(480) {
    background: url(../img/bg_offer.jpg) no-repeat center bottom; 
  }
  @include rm(1024) {
    padding: 55px 0 86px;
  }
  &__title {
    margin-bottom: 27px;
    letter-spacing: -0.4px;
    @include rm(1024) {
      margin-bottom: 56px;
    }
  }
  &__list {
    max-width: 420px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
    @include rm(1024) {
      max-width: none;
      display: flex;
      justify-content: space-between;
    }
  }
  &__item {
    @include rm(1024) {
      padding: 0 10px;
    }
    @include rm(1220) {
      padding: 0;
      &:first-child{
        width: 270px;
      }
      &:nth-child(2) {
        width: 330px;
      }
      &:nth-child(3) {
        width: 270px;
      }
    }
    &:not(:last-child) {
      margin-bottom: 57px;
      @include rm(1024) {
        margin-bottom: 0;
      }
    }
  }
  &__img {
    margin: 0 auto 29px;
  }
  &__header {
    margin-bottom: 26px;
    text-transform: uppercase;
    color: $green;
    font-weight: 800;
    letter-spacing: -0.5px;
    @include rm(480) {
      font-size: 16px;
    }
    @include rm(1220) {
      white-space: nowrap;
    }
  }
  &__text {
    font-size: 16px;
    line-height: 24px;
    *:not(:last-child) {
      margin-bottom: 23px;
    }
  }
}