.form
  img.form__logo(src="img/logo.jpg", alt="Form logo")
  p.form__message_bold You’re one step away from joining our elite trading team
  p.form__message_small Just fill in the fields below with your personal&nbsp;data
  form.form__form(action="server.php", method="POST")
    label.form__label.form__label_name
      input.form__input(type="text" name="name" placeholder="First Name" data-valid='false')
      span.form__errormessage 
    label.form__label.form__label_name
      input.form__input(type="text" name="surname" placeholder="Last Name" data-valid='false')
      span.form__errormessage 
    label.form__label.form__label_email
      input.form__input(type="text" name="email" placeholder="Email" data-valid='false')
      span.form__errormessage 
    label.form__label.form__label_select
      select.form__input.form__input_select(name="country" data-valid='false')
        option(selected value="default") Choose country
        option(value="es") Spanish
        option(value="de") German
        option(value="fr") French
        option(value="ru") Russian
        option(value="hu") Hungarian
        option(value="it") Italian
      span.form__errormessage 
    .form__phonewrapper
      label.form__label.form__label_prefix
        input.form__input.form__input_prefix(type="number" name="prefix" placeholder="380" data-valid='false')
        span.form__errormessage 
      label.form__label.form__label_phone
        input.form__input.form__input_phone(type="number" name="phone" placeholder="Phone" data-valid='false')
        span.form__errormessage 
    button.form__button.btn Try a 14-day trial period
  p.form__info You will be contacted shortly by one of our trading mentors.