section.main
  .main__container.container
    .main__wrappertext
      h1.main__title We teach you. 
        br
        | We fund you. 
      p.main__subtitle You keep most of the profits 
      p.main__info.text_bold We have educated more than 
        span.main__info_green.text_extra_bold 16,000 traders worldwide 
        | since 2004 & completely funded
        br
        | their trading accounts. You can be next
      .main__somecontent
    .main__fraperform
      include form