section.offer
  .offer__container.container
    h2.offer__title.title What we offer
    ul.offer__list
      li.offer__item
        img.offer__img(src="img/offer_01.png", alt="Image")
        h3.offer__header Personalized trading education
        .offer__text
          p 
            span.text_bold Meir Barak 
            | and his team of highly skilled financial experts provide you with 1-on-1 personal mentorship in the art of day trading
      li.offer__item 
        img.offer__img(src="img/offer_02.png", alt="Image")
        h3.offer__header A Pro Funded Account
        .offer__text
          p Upon completion of a Self-Study course and&nbsp;a 14-day demo practice you will receive a funded trading account of up to $240,000.
          p Any losses are absorbed by Tradenet and you keep 80% to 95% of the profits you earn&nbsp;from trading 
      li.offer__item
        img.offer__img(src="img/offer_03.png", alt="Image")
        h3.offer__header Stellar trading academy
        .offer__text
          p • Get access to extensive training materials, Demo Account, live practice sessions 
            | & much more, everything designed for your skill level
          p • All with as low as $500!